body {
	margin:0;
	padding: 0;
	font-size: 1.4em;
	line-height: 1.6em;
}
h1, h2, h3, h4 {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	color: #0c243d;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.4em;
}
.inverso h1 {
	color:#ffffff;
}
h2 {
	color: #0c243d;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
}

h2.parallax {
	font-size: 3.6em;
	font-weight: 700;
	text-transform: none;
	color:white;
	text-shadow: 0px 7px 8px black;
	-webkit-text-shadow: 0px 7px 8px black;
	-moz-text-shadow: 0px 7px 8px black;
}
.azulBG {
	background-color: #123156;
}
.grisBG {
	background-color: #f5f5f5;
}

.separador {
	width: 40px;
	height:4px;
	display: block;
	margin:0 auto;
	background-color: #0c243d;
	margin-bottom: 30px;
}
.inverso .separador {
	width: 40px;
	height:4px;
	display: block;
	margin:0 auto;
	background-color: #ffffff;
	margin-bottom: 30px;
}
.inverso p {
	color:#ffffff;
}

/* MENU */

.navbar-default {
	box-shadow: none;
	background-color: transparent;
	border:none;
	background-image: none;
	min-height: 90px;
	padding-top:20px;
}


.normal {
	transition: 1s all ease;
}

.efecto{
	background-color: #123156;
	transition: 1s all ease;
	min-height: 30px;
	box-shadow: 0 0 10px black;
	padding-top: 0;
}

.nav>li>a {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color:white;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

body > section {
	clear: both;
	padding: 50px 0;
}


section#principal {
	min-height: 700px;
	padding-top: 100px;
	background: rgb(38,76,112); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(38,76,112,1) 0%, rgba(19,45,73,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,76,112,1)), color-stop(100%,rgba(19,45,73,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(38,76,112,1) 0%,rgba(19,45,73,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(38,76,112,1) 0%,rgba(19,45,73,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(38,76,112,1) 0%,rgba(19,45,73,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(38,76,112,1) 0%,rgba(19,45,73,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264c70', endColorstr='#132d49',GradientType=0 ); /* IE6-9 */

}

section#principal img {
	margin:0 auto;
}

section#app img {
	margin-bottom: 20px;
}
section#app .social {
	width:150px;
	height:150px;
	border-radius: 50%;
	background-color: #123156;
	margin:0 auto;
	line-height: 180px;
}
section#app .social i {
	font-size: 3em;
	color:#ffffff;
}

section#caracteristicas p {
	font-size: .9em;
	color:#858585;
}
section#caracteristicas .caracteristica {
	margin-bottom: 10px;
}

section#caracteristicas .icono {
	width:120px;
	height:120px;
	border-radius: 50%;
	background-color: #123156;
	margin:0 auto;
	line-height: 140px;
	text-align: center;
}
section#caracteristicas .icono i {
	font-size: 2.6em;
	color:#ffffff;
}

div.modal-body{
	text-align: center;
}	
div.modal-body img {
	max-height: 90%;
}	

section#parallax {
	height: 500px;
	background-image: url(../img/ipadApp.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


section#descargar div.contenidoDescarga{
	height: 700px;
}
section#descargar div.phone {
	width: 50%;
	float: left;
	height: 100%;
	box-shadow:inset -7px -7px 12px -2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset -7px -7px 12px -2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset -7px -7px 12px -2px rgba(0, 0, 0, 0.15);
	z-index: 1;
	text-align: center;
}
section#descargar div.derechaVacio {
	width: 50%;
	background-color: #f5f5f5;
	float: right;
	height: 100%;
	z-index: 2;
	background-image: url(../img/descargaAppBG.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

section#descargar .descarga {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

section#descargar .plataformas > div {
	border-radius: 20px;
	border: 3px solid #0c243d;
	padding: 11px 0px;
	font-size: 1.2em;
	position: relative;
	padding-left: 50px;
	color:#0c243d;
}
section#descargar .plataformas > div i {
	font-size: 2.5em;
	position: absolute;
	top: 10px; left:20px;
}
section#descargar .plataformas > div span {
	font-weight: bold;
}

section#soporte p {
	font-size: 2em;
}

section#soporte .campos {
	background-color: #123156;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color:#ffffff;
}

section#soporte form {
	margin-top: 30px;
}
section#soporte input {
	min-height: 50px;
	margin-bottom: 20px;
}
section#soporte textarea {
	min-height: 200px;
}
section#soporte .btn.btn-default {
	background: white;
	border-radius: 14px;
	padding: 5px 43px;
	font-size: 1.4em;
	text-transform: uppercase;
}

::-webkit-input-placeholder {
   color: #ffffff!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffffff!important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff!important; 
}

:-ms-input-placeholder {  
   color: #ffffff!important; 
}


/** Opacity **/

.anima1, .anima2, .anima3, img#appImagen {
	opacity: 0;
}

@media(max-width:767px) {

	section#principal {
		height: auto;
		min-height: initial;
	}
	.navbar-default .navbar-collapse {
		background-color: #123156;
	}
	section#caracteristicas .caracteristica  {
		min-height: 150px;
		text-align: center;
	}
	
	section#descargar .plataformas > div{
		margin-bottom: 20px;
		padding: 21px 0px;
	}
	section#descargar div.phone {
		height:auto;
	}
	section#descargar div.contenidoDescarga  {
		height:auto;
	}
	section#parallax {
		background-attachment: scroll;
	}


}

@media(max-width:500px)  {
	section#descargar div.phone {
		width:100%;
	}

	section#caracteristicas  > section.col-xs-6 {
		width:100%!important;
	}
	section#caracteristicas > .col-xs-6 {
		width:100%;
	}
	section#caracteristicas .caracteristica {
		min-height:initial;
	}
	section#caracteristicas .icono {
		display:none;
	}
	section#descargar div.derechaVacio {
		display:none;
	}
	section#descargar .descarga  {
		position:relative;
	}

	div.descarga .col-xs-offset-6 {
		width:100%;
		margin:0;
	}

}

